/* layout.scss */

/* Content Wrapper */
.content-wrapper {
  padding: 6.875em 0;
  @include media($screen-md + 'px') {
    padding: 110px 0;
  }
  /* Dark Content Wrapper */
  &.dark {
    color: #fff;
    background-color: $dark-background;
  }
  /* Content Wrapper: Content */
  .content {
    width: percentage(306 / $screen-sm);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    @include media($screen-md + 'px') {
      width: percentage(1206 / $screen-lg);
    }
  }
  /* Content Wrapper: Title */
  .title {
    border-top: 2px solid $brand-color-primary;
    padding-top: 4px;
    display: inline-block;
    margin-bottom: 16px;
    font: {
      size: em(18);
      weight: bold;
    }
    text-transform: uppercase;
  }
  /* Single and Page Template Introductions */
  .page-template-default &, .single-post & {
    padding: 2em 0;
  }
}


/* Post */
.post {
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
  h2 {
    text-transform: uppercase;
  }
}


/* List Items */
.list-items {
  margin: 0;
  list-style: none;
}